.App {
  text-align: center;
}
/* css for header */
.header .title{
  font-weight: bold;
  font-size: 1.5em;
  color: orange;
  padding: 0.5em;

}
.search-button-wrapper{
  padding: 0.5em;
}
.search-button-wrapper button{
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  cursor: pointer;
  background: orange;
  color: white;
}
.input-wrapper {
  padding: 0.5em;
}
.input-wrapper input{
  padding: 0.5em;
}
.forecasts-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* css for card  */
.card-wrapper{
   min-width: 300px;
   max-width: 300px;
   border: 1px solid black;
   margin: 1em;
}
.card-wrapper .date{
  padding: 0.2em;
  background-color: orange;
}
.temp-header{
  border: 1px solid black;
  padding: 0.2em;
  background-color: rgb(228, 226, 226);
}
.section-temperature{
    background-color: rgb(228, 226, 226);
}
.flex-container .inner-flex{
  display: flex;
}

.inner-flex-item{
  border: 1px solid black;
  flex: 1;
  padding: 0.2em;
}

.loader img{
  width: 2em;
  height:2em;
  animation: rotate 1s linear infinite;
}
@keyframes rotate{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}